.admin {
	display: flex;
}

.edit-menu {
	background-color: #4f4f4f;
	height: 100vh;
	width: 200px;
	text-align: center;
	padding: 20px 5px;
	.link {
		color: white;
	}
}

.edit-page {
	width: 100%;
}