.main-header {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.header-links {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
}

.link {
	text-decoration: none;
	color: black;
}