
@import './components/main/header/header';
@import './components/main/home/home';
@import './components//main/offerings/offerings.scss';
@import './components/admin/admin.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}